<style>
    body{
        text-align: center;
        background-color: aqua;
    }
    div{
        margin : auto;
        text-align: center;
        font-size:25px;
        padding : 40px 0;
        width: 500px;
        border-radius:25px;
        border: 1px solid #003033;
        margin-bottom: 20px;
        background-color: antiquewhite;
    }
    a{
        font-size: 30px;
    }
    input{
        font-size: 30px;
    }
    p{
        font-size: 30px;
    }
</style>
<div>
<p>Are you sure that you want to delete <b>"{{item}}"</b></p>

<a href="{% url 'list'%}">Cancel</a>

<form method="POST" action="">
    {% csrf_token %}
    <input type="submit" name="confirm" value="Confirm">
</form>
</div>
